.app {
  margin: 0 auto;
  /* text-align: center; */
  display: flex;
  position: relative;
  top: 150px;
  width: 250px;
  justify-content: space-between;
  align-items: center;
}
button {
  height: 25px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: lightcoral;
  border: 1px solid lightcoral;
  border-radius: 10px;
  transition: background-color 200ms ease-out;
}
button:hover {
  background-color: lightcoral;
  border: none;
  color: #ffffff;
}
