.login {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  top: 150px;
}
.pass {
  margin-left: 8px;
}
.login__div {
  position: relative;
  top: 150px;
  width: fit-content;
  margin: 0 auto;
}
